{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Social Network{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="{% static 'network/styles.css' %}" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/30816ef6c4.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin
    ></script>
    <script
      src="https://unpkg.com/react-router-dom@5.0.0/umd/react-router-dom.min.js"
      crossorigin
    ></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    {% block script %} {% endblock %}
  </head>
  <body id="root">
    <nav class="navbar navbar-expand-lg sticky-top" id="bar">
      <a
        class="navbar-brand text-white"
        href="{% url 'index' %}"
        id="network"
        data-username="{{ user.username }}"
        data-user="{{ user.is_authenticated }}"
        >Network</a
      >
      <div>
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" id="profile">
              <i class="fas fa-user"></i>
              <strong>{{ user.username }}</strong></a
            >
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'index' %}" id="all"
              >All Posts</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-white" id="follow">Following</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'logout' %}">
              <i class="fas fa-sign-out-alt"></i> Log Out</a
            >
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'register' %}"
              >Register</a
            >
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div id="bbody" class="container">{% block body %} {% endblock %}</div>
  </body>
</html>
